svg {
    display: block;
    margin: 6%;
    width: 49%;
}

.section-title .scrollimation .in {
    opacity: 1;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    max-height: 0%;
    height: 253.76px;
}

.modal-body>.left-col {
    width: 100%;
    text-align: center;
}

.project-descr {
    text-align: center;
}

.project-descr>ul {
    list-style-type: none;
}

.project-descr ul {
    padding: 0;
}

.project-descr {
    width: 64%;
    margin: 0 auto !important;
}

.modal-dialog {
    width: 50%;
}

.about-me-par {
    margin-left: 0px;
    display: contents;
}

.pic-container {
    margin-left: 0;
}

.my-pic {
    height: 224px;
    border-radius: 50%;
}

.about-me-par>p {
    display: flex;
}

.modal-body>h1 {
    text-align: center;
}

.form-control {
    font-size: 2rem !important;
}

.contact-section {
    width: 100% !important;
    text-align: center !important;
}

.socials {
    display: flex !important;
    justify-content: space-around !important;
}

.h3-contact,
.h4-contact {
    text-align: center;
    color: white;
}

.section-title {
    margin-bottom: 5rem !important;
}

.img-responsive .project-image {
    width: 100%;
    height: 100%;
}

.app-pic {
    margin-left: auto !important;
    margin-right: auto !important;
}

.container .projects-wrapper {
    width: 100%;
}

/*  */
.about-me-wrapper,
.projects-wrapper,
.contact-wrapper {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 7rem;
}

.contact-wrapper {
    margin-bottom: 4rem;
}

/* .about-me-img {
    margin-bottom: 2rem;
}

.about-me {
    font-family: 'Raleway', sans-serif;
    vertical-align: middle;
} */


.meals-wrapper {
    margin-top: 2%;
}

.checkers-wrapper {
    margin-top: 5rem;
}

.tech-wrapper {
    margin-top: 20rem;
}

#projects-container {
    width: 70%;
}

.github-button {
    transition-duration: 0.4s;
    border: solid 1px darkgray;
    color: black;
    margin-left: 1%;
    margin-top: 1%
}

.live-button {
    transition-duration: 0.4s;
    background-color: #c1a09a;
    border: solid 1px darkgray;
    color: #f4f4f4;
    margin-top: 1%

}

.github-button:hover {
    background-color: #c1a09a;
    color: white;
}

.live-button:hover {
    background-color: #a16f65;
    color: #f4f4f4;
}

#skills {
    padding-bottom: 90px;
    background-color: #f5f5f5;
    padding-top: 2%;
}

#contact {
    height: 90vh;
}

#contact-container {
    margin-top: 7vh;
}

#skills-container {
    margin-top: 6vh;
}

video {
    width: 80%;
    margin-top: 3%;
}

.img-wrapper {
    margin-top: 3%;
}

.img-wrapper>h1,
.img-wrapper>h2 {
    display: inline;
}

.meals-video {
    width: 38%;
    display: block;
    margin: 0 auto;
}

.descr {
    width: 40.6%;
    display: inline-block;
    vertical-align: top;
    margin-left: 18px;
}

.tech {
    display: inline-block;
}

.meals-tech {
    margin-left: -41%;
    vertical-align: bottom;
}

.tech>h2 {
    font-weight: lighter;
}

.tech>ul {
    list-style: none;
    padding: 0%;
    margin-bottom: 23% !important;
}

.checkers-video {
    display: block;
    margin: 0 auto;
    /* width: 80%; */
}

.checkers-descr {
    text-align: right;
}

.checkers-descr>p {
    font-size: 14px;
}

.checkers-descr>h1 {
    display: inline;
}

.budgety-video {
    display: block;
    margin: 0 auto;
    /* width: 80%; */
}

.omnifood-video {
    display: block;
    margin: 0 auto;
    /* width: 80%; */
}

.resume-btns {
    display: flex;
    justify-content: flex-end;
}

/* .resume-btns > .btn {
    border: #c1a09a 2px solid;
} */

.col-md-9 {
    margin-bottom: 6%;
}

#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705))
}

/* @media (max-width: 800px) {
    .container .projects-wrapper {
        width: 100%;
    }

    video {
        width: 100%;
    }

    .meals-video {
        width: 100%;
    }
}

; */

@media (max-width: 768px) {

    .meals-video {
        width: 100%;
    }
}

;

@media (max-width: 990px) {
    .container .projects-wrapper {
        width: 100%;
    }

    video {
        width: 100%;
    }

    .meals-video {
        width: 75%;
    }
}

;

@media (min-width: 992px) {
    .container .projects-wrapper {
        width: 100%;
    }

    video {
        width: 80%;
    }
}