svg{
    display: block;
    margin: 6%;
    width: 75%;
}

.section-title .scrollimation .in{
    opacity: 1;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img{
    max-height: 0%;
    height: 253.76px;
}

.modal-body > .left-col{
    width: 100%;
    text-align: center;
}
.project-descr {
    text-align: center;
}

.project-descr > ul {
    list-style-type:none;
}
.project-descr ul{
    padding: 0;
}
.project-descr{
    width: 64%;
    margin: 0 auto !important;
}

.modal-dialog {
    width: 50%;
}

/* .pic-container > .my-pic {
    height: auto;
} */

.about-me-par {
    margin-left: 0px;
    display: contents;
}

.pic-container {
    margin-left: 0px;
    margin: 8rem 0;
}

.my-pic {
    height: 321px;
}

.about-me-par > p {
    display: block;
}

.modal-body>h1 {
    text-align: left;
}

.form-control{
    font-size: 2rem !important;
}